# Python
__pycache__/
*.pyc
*.pyo
.env
venv/

# Frontend
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
terraform.tfvars
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
