# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/

.env

# Frontend
frontend/node_modules/
frontend/dist/

# OS
.DS_Store

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/*.tfstate
terraform/*.tfstate.backup

k8s/secret.yaml
